{% extends 'base.html' %}
{% block title %}<title>Overview</title>{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center fs-3">
                <button class="btn">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                Jan 2024
                <button class="btn">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-end pb-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-funnel-fill"></i> Filters
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="dropdown-item">Name</a>
                            </li>
                        </ul>
                        <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown button
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div> -->
                    </div>
                </div>
                <table class="table table-bordered table-responsive">
                    <tr class="text-center">
                        <td>Employees</td>
                        <td>
                            <div>Jan 01</div>
                            <div>Sun</div>
                        </td>
                        <td>
                            <div>Jan 02</div>
                            <div>Mon</div>
                        </td>
                        <td>
                            <div>Jan 03</div>
                            <div>Tue</div>
                        </td>
                        <td>
                            <div>Jan 04</div>
                            <div>Wed</div>
                        </td>
                        <td>
                            <div>Jan 05</div>
                            <div>Thu</div>
                        </td>
                        <td>
                            <div>Jan 06</div>
                            <div>Fri</div>
                        </td>
                        <td>
                            <div>Jan 07</div>
                            <div>Sat</div>
                        </td>
                        <td>
                            <div>Jan 08</div>
                            <div>Sun</div>
                        </td>
                        <td>
                            <div>Jan 09</div>
                            <div>Mon</div>
                        </td>
                        <td>
                            <div>Jan 10</div>
                            <div>Tue</div>
                        </td>
                        <td>
                            <div>Jan 11</div>
                            <div>Wed</div>
                        </td>
                        <td>
                            <div>Jan 12</div>
                            <div>Thu</div>
                        </td>
                        <td>
                            <div>Jan 13</div>
                            <div>Fri</div>
                        </td>
                        <td>
                            <div>Jan 14</div>
                            <div>Sat</div>
                        </td>
                        <td>
                            <div>Jan 15</div>
                            <div>Sun</div>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>Vinay Kumar</td>
                        <td class="bg-secondary-subtle">P</td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td class="bg-secondary-subtle">
                            <div>P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-success border-2">V</div>
                        </td>
                        <td>
                            <div class="border-bottom border-success border-2">V</div>
                        </td>
                        <td>
                            <div class="border-bottom border-success border-2">V</div>
                        </td>
                        <td>
                            <div class="border-bottom border-success border-2">V</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td class="bg-secondary-subtle">
                            <div>P</div>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>Mayur Gund</td>
                        <td class="bg-secondary-subtle">P</td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-warning border-2">L</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td class="bg-secondary-subtle">
                            <div>P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td class="bg-secondary-subtle">
                            <div>P</div>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>Pushpendra Tripathi</td>
                        <td class="bg-secondary-subtle">P</td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-danger border-2">S</div>
                        </td>
                        <td class="bg-secondary-subtle">
                            <div>P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td>
                            <div class="border-bottom border-primary border-2">P</div>
                        </td>
                        <td class="bg-secondary-subtle">
                            <div>P</div>
                        </td>
                    </tr>
                </table>
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-center">
                        <div class="border-4 border-start border-primary me-2 ps-1">P - Present</div>
                        <div class="border-4 border-start border-warning me-2 ps-1">L - Late</div>
                        <div class="border-4 border-start border-success me-2 ps-1">V - Vacation</div>
                        <div class="border-4 border-start border-danger me-2 ps-1">S - Sick</div>
                        <div class="border-4 border-start border-dark ps-1">U - Unknown</div>
                    </div>
                    <div>
                        <!-- <nav aria-label="Page navigation example">
                        <ul class="d-flex pagination">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
